#contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    margin: 0 auto;
}

#contact-form input,
#contact-form textarea {
    padding: 0.8rem;
    border: 1px solid rgba(3, 7, 30, 0.3);
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #03071E;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
    color: rgba(3, 7, 30, 0.6);
}

#contact-form button {
    background-color: #FDC500;
    color: #03071E;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.6s;
}

#contact-form button:hover {
    background-color: #3D0066;
    color: #FFFFFF;
}

.contact-h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #3D0066;

}

.contact-label {
    font-size: 0.9rem;
}

.contact-info {
    text-align: center;
    margin-top: 2rem;
    color: #03071E;
    font-size: 15px;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.social-media a {
    color: #FDC500;
    font-size: 1.5rem;
    transition: all 0.3s;
}

.social-media a:hover {
    color: #C86BFA;
    transform: scale(1.2);
}

.contact-info a {
    color: #5C0099;
    text-decoration: none;
    font-weight: 400;
}

.contact-info a:hover {
    color: #C86BFA;
    text-decoration: underline;
}